extends baseEmail 

block content 
  p Hi #{firstName},
    p Forgot your password? submit a PATCH request to #{url} with your new password and passwordConfirm along side with your resetToken below!
    //- p  Reset your password with the token below!
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0' style="text-align: center;")
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    div(style='font-size: 24px; font-family: cursive; color: white; padding: 5px;') #{reseterToken}
    p If you didn't forgot your password, please just go ahead and ignore this message!.